#registrarDosajeModal-dialog {
	max-height: 1390px;
}

#doctorRegistrarDosajeInputSelect {
	width: 20rem;
}

#establecimientoRegistrarDosajeInputSelect {
	width: 20rem;
}

#hijoRegistrarDosajeInputSelect {
	width: 20rem;
}
