#registrarDosajeModal-dialog {
	max-width: 600px; 
	max-height: 800px; /* Ajusta la altura máxima del contenido del modal */
    overflow-y: auto;  /* Activa la barra de desplazamiento vertical */
    transform: translateY(-10px);
}

#registrarDosajeModal .modal-dialog.open {
    transform: translateY(-90px); 
}

#doctorRegistrarDosajeInputSelect {
	width: 20rem;
}

#establecimientoRegistrarDosajeInputSelect {
	width: 20rem;
}

#hijoRegistrarDosajeInputSelect {
	width: 20rem;
}
