.hijosContainer {
    border-radius: 20px;
    padding: 2rem;
    background-color: #f4f5f7;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h3 {
    font-size: 1.5rem;
    color: var(--clr-primary-variant3);
    font-weight: 600;
}

.firstHijosRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.mr-container {
    margin-right: 2rem;
}

.secondHijosRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adaptable a más pantallas */
    gap: 2rem;
    padding: 1.5rem;
    justify-items: center;
}

.card {
    width: 100%;
    max-width: 20rem;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.card-content {
    width: 100%;
}

.card-content-img {
    height: 12rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content-img img {
    height: 100%;
    width: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la imagen */
}

.card-content-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

.card-content-info h4 {
    font-size: 0.9rem;
    color: #2c3e50;
    font-weight: 500;
}

.card-content-info span {
    font-weight: 400;
    color: #7f8c8d;
}
